services:

  api:
    build: .
    container_name: enterprise-rag-api
    ports:
      - "8000:8000"

    environment:
      - GROQ_API_KEY=${GROQ_API_KEY}
      - REDIS_HOST=redis
      - REDIS_PORT=6379

    depends_on:
      - redis

    volumes:
      - rag_data:/app/app/data

    restart: unless-stopped



  redis:
    image: redis:7
    container_name: enterprise-rag-redis

    ports:
      - "6379:6379"

    volumes:
      - redis_data:/data

    restart: unless-stopped



volumes:
  rag_data:
  redis_data: